
{% extends 'base.html' %}
{% load staticfiles %}
# 加载自定义过滤器
{% load extra_tags %}

{% block title %}
	注册
{% endblock title %}

{% block content %}
<div id="register" class="py-5">
    <div class="container">
        <div id="register-box">
            <form id="register-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <p class="h2 text-center text-color">Register</p>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="text-color">Username:</label>
                            <input class="form-control" type="text" name="username" required placeholder="Enter Your Username"/>
                            <span class="Error"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-color">Email:</label>
                            <input class="form-control" type="email" name="email" required placeholder="Enter Your Email"/>
                            <span class="Error"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-color">Password:</label>
                            <input class="form-control" type="password" name="password" required placeholder="Enter Password"/>
                            <span class="Error"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-color">Password:</label>
                            <input class="form-control" type="password" name="password2" required placeholder="Enter Password Again"/>
                            <span class="Error"></span>
                        </div>
                        <div class="form-group">
                            <span class="Error">{{ error }}</span>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-color btn-block" type="submit" name="submit" value="Submit"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}