{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="padding-top:120px;">
        <div class="col-md-6 offset-md-3 border border-secondary col-border-radius p-3">
            <h1 class="m-3">{% trans "Change Password" %}</h1>
            <hr>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" name="oldpassword" autofocus="autofocus" placeholder="Current Password" required="" id="id_oldpassword"
                            class="form-control form-control-radius">
                </div>
                <div class="form-group">
                    <input type="password" name="password1" placeholder="New Password" required="" id="id_password1"
                            class="form-control form-control-radius">
                </div>
                <div class="form-group">
                    <input type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2"
                           class="form-control form-control-radius">
                </div>
                <button type="submit" class="primaryAction btn btn-danger form-control-radius" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
