
{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_tags %}


{% block title %}
    About
{% endblock title %}


{% block content %}

<div class="container-fluid py-5 no-padding-lr">
    <div class="row h-100">
        <div class="col">
        <div class="blog-post blog-post-style1">
            <article>
                <div class="post-thumbnail">
                    <div class="blog-image">
                        <img width="1920" height="500" src="{% static 'img/06-large.jpg'%}" class="size-full" alt="">
                    </div>
                    <div class="opacity-full bg-dark-gray"></div>
                </div>
                <div class="container post-details">
                    <div class="row margin-seven-tb">
                        <div class="col-md-1 col-sm-2 col-xs-3">
                            <span class="fs--24 blog-post-number bg-fast-yellow">01</span>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <span class="text-uppercase">Posted by
                                <span class="author">
                                    <a href="#" class="">admin</a>
                                </span>
                                | <span class="published">17 02 2016</span>

                                  </span>
                                <h5 class="fs--20"><a href="#">Design is not just what it looks like and feels like.</a></h5>
                                <div class="brando-post-meta ">
                                    <span><i class="far fa-heart"></i>187 Likes</span>
                                    <span><i class="far fa-comment"></i>Leave a comment</span>
                                </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="about" class="card">
                <div class="card-block">
                    <h2>About me</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <p><img src="{% static 'img/pro3.jpg' %}" class="img-responsive" alt=""></p>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h2>blog<a href="{% url 'article:article-list' %}" class="btn-default fs--14 btn btn-medium pull-right">View All Blog</a></h2>
                    <div id="carouselControls" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                              <li data-target="#carouselControls" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselControls" data-slide-to="1"></li>
                              <li data-target="#carouselControls" data-slide-to="2"></li>
                              <li data-target="#carouselControls" data-slide-to="3"></li>
                              <li data-target="#carouselControls" data-slide-to="4"></li>
                              <li data-target="#carouselControls" data-slide-to="5"></li>
                          </ol>
                        <div class="carousel-inner">
                        {% for article in article_list %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="embed-responsive embed-responsive-16by9">
                                <img class="card-img-top embed-responsive-item" src="{% if article.avatar %}{{ article.avatar.url }}{% else %}{% static 'img/06-large.jpg' %}{% endif %}" alt="Card image cap">
                            </div>
                            <div class="carousel-caption d-none d-md-block carousel-caption-bg">
                                <h3 class="h5"><a href="{% url 'article:article-detail' article.id %}">{{ article.title }}</a></h3>
                                <p>{{ article.summary | slice:'100' | convert_markdown | safe }}</p>
                            </div>
                        </div>
                        {% empty %}
                            <p>Sorry, no athletes in this list.</p>
                        {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <h2>Skills</h2>
                    <div id="skills" class="d-flex h-100 align-items-center">
                        <div class="container">
                            <div class="section-title text-center animation-name">
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 animation-name">
                                    <h4>html</h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                                <span class="sr-only">80% Complete (success)</span>
                                            </div>
                                        </div>
                                    <h4>css</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            <span class="sr-only">50% Complete</span>
                                        </div>
                                    </div>
                                    <h4>js</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            <span class="sr-only">50% Complete (warning)</span>
                                        </div>
                                    </div>
                                    <h4>vba</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                            <span class="sr-only">65% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 animation-name">
                                    <h4>java</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">70% Complete (danger)</span>
                                        </div>
                                    </div>
                                    <h4>C#</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (danger)</span>
                                        </div>
                                    </div>
                                    <h4>python</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">90% Complete (danger)</span>
                                        </div>
                                    </div>
                                    <h4>uipath</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                            <span class="sr-only">75% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment "Optional note" %}
            <div class="card">
                <div class="card-block">
                    <h2>Education</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="education-experience">
                                <small class="date">2017-2015</small>
                                <h3 class="h5 date-title">Design Master</h3>
                                <p>Chicago University</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="education-experience">
                            <small class="date">2015-2012</small>
                            <h3 class="h5 date-title">Metrics Degree</h3>
                            <p>Ecole 87</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="education-experience">
                            <small class="date">2012-2011</small>
                            <h3 class="h5 date-title">Motion Design Course</h3>
                            <p>Pascal’s Lee Studio</p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h2>Language</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="language-experience">
                                <h3 class="h5">English  <small>Bilingual</small></h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="language-experience">
                                <h3 class="h5">French  <small>Fluent</small></h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="language-experience">
                                <h3 class="h5">Russian  <small>Beginner</small></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
            <div class="card">
                <div class="card-block">
                    <h2>Contact</h2>
                    <div id="mail_fail" class="status alert alert-success" style="display: none"></div>
                    <form action="{% url 'sendmail:sendmail' %}" class="reveal-content" id="contact-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control name-field" required="required" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control mail-field" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="5" placeholder="Enter your message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-warning" onclick="ajax_sendmail()">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.carousel-caption-bg {
  background-color: rgba(33,37,41,.4);
}


</style>
{% endblock %}
{% block script %}
<script>

</script>
{% endblock script %}