






/*  Main section  */
.main{
	position: relative;
	border-left: 1px #e1e0e0 solid;
	border-right: 1px #e1e0e0 solid;
	height: auto;
	overflow: hidden;
}




.main .article_image,
.main .post{
	float: left; 
}

.main .article_image{
	width: 400px;
	margin-right: 40px;
}






.main2{
	padding-top: 80px;
	position: relative;
	border-left: 1px #e1e0e0 solid;
	border-right: 1px #e1e0e0 solid;
	height: auto;
	overflow: hidden;
}

.main2 .content{
	width: 620px;
	float: left;
}

.main2 .post{
	width: 580px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 80px;
}

