/*  Fonts  */
@font-face {
    font-family: 'LatoRegular';
    src: url('../webfonts/Lato-Regular.eot');
    src: url('../webfonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Lato-Regular.woff') format('woff'),
         url('../webfonts/Lato-Regular.ttf') format('truetype'),
         url('../webfonts/Lato-Regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBold';
    src: url('../webfonts/Lato-Bold.eot');
    src: url('../webfonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Lato-Bold.woff') format('woff'),
         url('../webfonts/Lato-Bold.ttf') format('truetype'),
         url('../webfonts/Lato-Bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Login Form CSS-Start */

#login .text-color{
    color: #1B9BFF;
}

#login .btn-color{
    color: white;
    background: #1B9BFF;
}
/*
#login .container
{
    margin: 20px auto;
    padding-top: 120px;
    padding-bottom: 40px;
}
*/
#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 350px;
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

/* Login Form CSS-End */


/* Register Form CSS-Start */

#register .container
{
    margin: 20px auto;
    padding-top: 120px;
    padding-bottom: 40px;
}

#register .container #register-box{
    border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
}

#register .container #register-box #register-form{
    padding: 20px;
}

#register .preview
{
    padding: 10px;
    position: relative;
}

#register .preview i
{
    color: white;
    font-size: 5px;
    transform: translate(40px,70px);
}

#register .preview-img
{
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px #ED6C19;
}

#register .browse-button
{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 26px;
    left: 26px;
    background: linear-gradient(180deg, transparent, #ED6C19);
    opacity: 0;
    transition: 0.3s ease;
}

#register .browse-button:hover
{
    opacity: 1;
}

#register .browse-input
{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    transform: translate(-1px,-26px);
    opacity: 0;
}

#register .text-color{
    color: #1B9BFF;
}


#register .btn-color{
    color: white;
    background: #1B9BFF;
}

#register .form-group
{
    width:  250px;
    margin: 10px auto;
}

#register .form-group input
{
    transition: 0.3s linear;
}

#register .form-group input:focus
{
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
}

#register .Error
{
    color: crimson;
    font-size: 13px;
}


/* Header CSS-Start */

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    /* 圆角 */
    /*border-radius: 30px;*/
    padding: 10px;
    align-items: center;
}

.search_input{
    color: #fff;
    border: 0;
    outline: 0;
    caret-color:red;
    /* 搜索输入框初始大小 */
    width: 400px;
    line-height: 40px;
    /* 过渡:搜索输入框展开 */
    /*transition: width 0.4s linear;*/
}

/* 搜索图标样式 */
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    background:white;
    justify-content: center;
    align-items: center;
    color:#007bff;
}

/* 鼠标悬浮，搜索栏样式设置 */
/*
.searchbar:hover > .search_input{
    /* 搜索输入框大小 */
    width: 400px;
    /* 光标颜色 */
    caret-color:red;
    /*transition: width 0.4s linear;*/
}
/* 鼠标悬浮，搜索图标样式设置 */
.searchbar:hover > .search_icon{
    background:white;
    color: #e74c3c;
}*/

/* 关键字字体颜色 */
.searchbar ::-webkit-input-placeholder {
	color: #fff;
}

.searchbar ::-moz-placeholder {
	color: #fff;
}

.searchbar :-ms-input-placeholder {
	color: #fff;
}

.searchbar :-moz-placeholder {
	color: #fff;
}

/*
 导航栏下拉菜单 鼠标悬浮
 背景字体颜色设置
 */
#dropmenu > a:hover{
    background: #3A93FF;
    color: white;
}

#header-nav ul li a:hover{
	color: #FF3F3F;
}

.nav-link{
	font-size:18px;
	padding: 0 10px;
}


.text-primary {
	color: #343a40;
}

.text-white {
    color: #fff;
}

/* Header CSS-End */

/* Font Size CSS-Start */


.ff--default {
	font-family: 'LatoBold', 'Helvetica', arial, 
				"lucida grande", "lucida sans unicode", 
				lucida, helvetica, "Hiragino Sans GB", 
				"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.ff--primary {
	font-family: Playfair Display,serif;
}

.fs--12 {
	font-size: 9pt;
	line-height: 22px;
}

.fs--14 {
	font-size: 14px;
	line-height: 24px;
}

.fs--16 {
	font-size: 1pc;
	line-height: 26px;
}

.fs--18 {
	font-size: 18px;
	line-height: 28px;
}

.fs--20 {
	font-size: 20px;
	line-height: 30px;
}

.fs--22 {
	font-size: 22px;
	line-height: 2pc;
}

.fs--24 {
	font-size: 24px;
	line-height: 34px;
}

.fs--26 {
	font-size: 26px;
	line-height: 36px;
}

.fs--28 {
	font-size: 28px;
	line-height: 38px;
}

.fs--30 {
	font-size: 30px;
	line-height: 40px;
}

.fs--100 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
    margin-bottom: 0;
    padding: 0 0 20px 0;
    display: inline-block;
    color: white;
}

.fc--18{
	color: #898989;
	font-size: 18px;
	line-height: 28px;
}

/* Font Size CSS-End */

#tools a{
	color: #767676;
	text-decoration:none;
}

#tools a:hover{
	color: #298EFF;
}

.avatar img{
	max-width: 678px!important;
	height: auto!important;
	width:expression(this.width > 678 ? "678px" :true)!important;
	-webkit-max-width:678px; 
	margin:0 auto;
	display:block;
}

/*
.btn-link,a {
	transition-timing-function: ease,ease,ease-in-out,ease-in-out;
	transition-duration: .35s;
	transition-property: color,border-color,background-color,box-shadow;
}

.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover,.btn-link:link,.btn-link:visited,a,a:active,a:focus,a:hover,a:link,a:visited {
	outline: 0;
	text-decoration: none;
}

.btn-link {
	display: inline-block;
	color: inherit;
	font-weight: inherit;
}

.btn-link.active,.btn-link:focus,.btn-link:hover {
	color: #45c6a6;
}*/

/* Index CSS */

.main article{
	margin: 60px 0;
	overflow: hidden;
}

.main article:hover{
	border: 1px solid #1B9BFF;
	border-radius: 5px;
}

.main .post{
	width: 100%;
	float: left;
}



.main h1.title{
	font-family: 'LatoBold', 'Helvetica', arial, 
				"lucida grande", "lucida sans unicode", 
				lucida, helvetica, "Hiragino Sans GB", 
				"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-weight: bold;
	font-size: 28px;
	text-transform: uppercase;
	line-height: 30px;
	margin-bottom: 30px;
}

.main .title a{
	text-decoration: none;
	color: #4f4e4e;
}

.main .title a:hover{
	color: #007bff;
}

.main p{	
	font-family: 'LatoRegular', 'Helvetica', arial;
	color: #606060;
	line-height: 30px;
	margin-bottom: 20px;
}

.main a.read_more{
	font-family: 'LatoRegular', 'Helvetica', arial;
	display: inline-block;
	padding: 10px 30px 13px 30px;
	background: #ffffff;
	border: 2px #c2c2c2 solid;
	color: #c2c2c2;
	text-decoration: none;
	margin-top: 14px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	-ms-border-radius: 100px;
}

.main a.read_more:hover{
	border: 2px #007bff solid;
	color: #007bff;
}

.main a.read_more i.read_more_arrow{
	width: 15px;
	height: 7px;
	background: url('../img/read_more_arrow.png') no-repeat;
	display: inline-block;
	opacity: 0;
	margin-left: -5px;
}

.main a.read_more:hover i.read_more_arrow{
	opacity: 1;
	margin-left: 5px;
}



/*  pagination  */
.pagination{
	display: block;
	width: 100%;
	padding: 30px 0;
	border: 1px #e1e0e0 solid;
	overflow: hidden;
}

.pagination a{
	color: #818181;
}

.previous,
.next,.p_number{
	text-decoration: none;
	margin: 0 30px;
	font-family: 'LatoBold', 'Helvetica', arial;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}


.previous{
	float: left;
}

.next{
	float: right;
}

.previous i,
.next i{
	width: 15px;
	height: 7px;
	display: inline-block;
	margin-bottom: 3px;
	background: url('../img/pagination.png') no-repeat;
}

.previous i{
	background-position: 0 0;
	margin-right: 10px;
}

.next i{
	background-position: -16px 0;
	margin-left: 10px;
}

.previous:hover,
.next:hover{
	color: #007bff;
}
.previous:hover i,
.next:hover i{
	background: url('../img/pagination_hover.png') no-repeat; 
}

.previous:hover i{
	background-position: 0px 0;
}

.next:hover i{
	background-position: -16px 0;
}



/*  General CSS*/
.wrapper{
	width: 60%;
	height: auto;
	margin: 0 auto;
}

ul.main_nav li a,
.main .title a,
.main a.read_more,
.main a.read_more i.read_more_arrow,
.previous,
.next,
.previous i,
.next i,
footer ul.social_profiles li a,
.search_widget .search-field{
	transition: .2s linear;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
}