/*  Fonts  */
@font-face {
  font-family: 'LatoRegular';
  src: url('../webfonts/Lato-Regular.eot');
  src: url('../webfonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
     url('../webfonts/Lato-Regular.woff') format('woff'),
     url('../webfonts/Lato-Regular.ttf') format('truetype'),
     url('../webfonts/Lato-Regular.svg#LatoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('../webfonts/Lato-Bold.eot');
  src: url('../webfonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/Lato-Bold.woff') format('woff'),
       url('../webfonts/Lato-Bold.ttf') format('truetype'),
       url('../webfonts/Lato-Bold.svg#LatoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -150px;
}
#push{
  height: 200px;
}
#footer{
  height: 300px;
}

.bg-gray{
    background-color: #c7c7c7;
}

/* Font Size CSS-Start */

.ff--default {
  font-family: 'LatoBold', 'Helvetica', arial,
				"lucida grande", "lucida sans unicode", 
				lucida, helvetica, "Hiragino Sans GB", 
				"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.ff--primary {
  font-family: Playfair Display,serif;
}

.fs--12 {
  font-size: 9pt;
  line-height: 22px;
}

.fs--14 {
  font-size: 14px;
  line-height: 24px;
}

.fs--16 {
  font-size: 1pc;
  line-height: 26px;
}

.fs--18 {
  font-size: 18px;
  line-height: 28px;
}

.fs--20 {
  font-size: 20px;
  line-height: 30px;
}

.fs--22 {
  font-size: 22px;
  line-height: 2pc;
}

.fs--24 {
  font-size: 24px;
  line-height: 34px;
}

.fs--26 {
  font-size: 26px;
  line-height: 36px;
}

.fs--28 {
  font-size: 28px;
  line-height: 38px;
}

.fs--30 {
  font-size: 30px;
  line-height: 40px;
}

.fs--100 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 50px;
  margin-bottom: 0;
  padding: 0 0 20px 0;
  display: inline-block;
  color: white;
}

.fc--18{
  color: #898989;
  font-size: 18px;
  line-height: 28px;
}

/* Font Size CSS-End */

#tools a,
#contents a{
  color: #767676;
  text-decoration:none;
}

#tools a:hover,
#contents a:hover{
  color: #298EFF;
}

.avatar img{
  max-width: 678px!important;
  height: auto!important;
  width:expression(this.width > 678 ? "678px" :true)!important;
  -webkit-max-width:678px;
  margin:0 auto;
  display:block;
}


/* Index CSS */

.main article{
  margin: 20px 0;
  overflow: hidden;
}

.main article:hover{
  border-radius: 6px;
  box-shadow: 6px 6px 6px #888888;
}

.card-header{
    height: 20%;
}

.main .post{
  width: 100%;
  float: left;
}

.main h1.title{
  font-family: 'LatoBold', 'Helvetica', arial,
				"lucida grande", "lucida sans unicode", 
				lucida, helvetica, "Hiragino Sans GB", 
				"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 15px;
}

.main .title a{
  text-decoration: none;
  color: #4f4e4e;
}

.main .title a:hover{
  color: #007bff;
}

.main p{	
  font-family: 'LatoRegular', 'Helvetica', arial;
  color: #606060;
  line-height: 30px;
  margin-bottom: 15px;
}

.main a.read_more{
  font-family: 'LatoRegular', 'Helvetica', arial;
  display: inline-block;
  padding: 10px 30px 13px 30px;
  background: #fff;
  border: 2px solid #4f4e4e;
  color: #4f4e4e;
  text-decoration: none;
  margin-top: 14px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
}

.main a.read_more:hover{
  border: 2px #007bff solid;
  color: #007bff;
}

.main a.read_more i.read_more_arrow{
  width: 15px;
  height: 7px;
  background: url('../img/read_more_arrow.png') no-repeat;
  display: inline-block;
  opacity: 0;
  margin-left: -5px;
}

.main a.read_more:hover i.read_more_arrow{
  opacity: 1;
  margin-left: 5px;
}



/*  pagination  */
.pagination {
  display: block;
  width: 100%;
  padding: 30px 0;
  border: 1px #e1e0e0 solid;
  overflow: hidden;
  background: #fff;
}

.pagination a {
  color: #818181;
}

.previous, .next, .p_number {
  text-decoration: none;
  margin: 0 30px;
  font-family: 'LatoBold', 'Helvetica', arial;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.previous i, .next i {
  width: 15px;
  height: 7px;
  display: inline-block;
  margin-bottom: 3px;
  background: url('../img/pagination.png') no-repeat;
}

.previous i {
  background-position: 0 0;
  margin-right: 10px;
}

.next i {
  background-position: -16px 0;
  margin-left: 10px;
}

.previous:hover, .next:hover {
  color: #007bff;
}

.previous:hover i, .next:hover i {
  background: url('../img/pagination_hover.png') no-repeat;
}

.previous:hover i {
  background-position: 0px 0;
}

.next:hover i {
  background-position: -16px 0;
}


/*  General CSS*/
.wrapper{
  width: 60%;
  height: auto;
  margin: 0 auto;
}

ul.main_nav li a,
.main .title a,
.main a.read_more,
.main a.read_more i.read_more_arrow,
.previous,
.next,
.previous i,
.next i,
footer ul.social_profiles li a,
.search_widget .search-field{
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -o-transition: .2s linear;
}

#mainNav, #mainFooter{
  background-color: #191919;
}

/* Searchbar CSS */
.search-bar{
  width: 100%;
  /*border: 1px solid #212529!important;*/
  border: 1px solid #d70719!important;
  border-radius: 30px;
  padding: 2px;
  margin: 5px;
  align-items: center;
}
@media only screen and (min-width:992px) {
    .search-bar{
        width : 50%;
    }
}
.search-bar-input{
  display:block;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: none;
  color: #fff;
  border: 0;
  background: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

/* header.html
   导航栏样式
 */

#mainNav {
  /*position: absolute;*/
  /*background-color: #fff;*/
  font-family: 'LatoBold', 'Helvetica', arial,
				"lucida grande", "lucida sans unicode",
				lucida, helvetica, "Hiragino Sans GB",
				"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  padding: 0 1rem;
  min-height: 60px;
  letter-spacing: 5px;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: rgba(173, 181, 189, 1)
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border-color: #fff;
  outline: none;
}

#mainNav .navbar-nav>li.nav-item>a {
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase
}

/* 画面大于 992px 时的样式 */
@media only screen and (min-width:992px) {
  #mainNav {
    /*border-bottom: 1px solid transparent;*/
    /*background: #fff*/
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    /*color: #343a40;*/
    /*color: #fefafc;*/
    color: rgba(173, 181, 189, 1)
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #d70719;
  }
  #mainNav .navbar-nav>li.nav-item>a {
    padding: 10px 20px;
    /*color: #343a40;*/
    color: rgba(173, 181, 189, 1)
  }
  #mainNav .navbar-nav>li.nav-item>a:focus, #mainNav .navbar-nav>li.nav-item>a:hover {
    /*color: rgba(173, 181, 189, .8)*/
    color: rgba(254, 250, 252, 1);
  }
}

@media only screen and (min-width:992px) {
  #mainNav {
    transition: background-color .2s;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden
  }
  #mainNav.is-fixed {
    position: fixed;
    top: -67px;
    transition: transform .2s;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, .9)
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085a1
  }
  #mainNav.is-fixed .navbar-nav>li.nav-item>a {
    color: #212529
  }
  #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus, #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
    color: #0085a1
  }
  #mainNav.is-visible {
    transform: translate3d(0, 100%, 0)
  }
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  z-index:-1;
}

/* 背景图 */
header.masthead{
    background-image: url(../img/home-bg-2.jpg)
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: .3
}

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
  padding: 200px 0 150px;
  color: #fff
}

@media only screen and (min-width:768px) {
  header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    padding: 200px 0
  }
}

header.masthead .page-heading, header.masthead .site-heading {
  text-align: center
}

header.masthead .page-heading h1, header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0
}

header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media only screen and (min-width:768px) {
  header.masthead .page-heading h1, header.masthead .site-heading h1 {
    font-size: 80px
  }
}

header.masthead .post-heading h1 {
  font-size: 35px
}

header.masthead .post-heading .meta, header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: Lora, 'Times New Roman', serif
}

header.masthead .post-heading .meta a {
  color: #fff
}

@media only screen and (min-width:768px) {
  header.masthead .post-heading h1 {
    font-size: 55px
  }
  header.masthead .post-heading .subheading {
    font-size: 30px
  }
}

/* footer */
footer {
  padding: 50px 0 65px
}

footer .list-inline {
  margin: 0;
  padding: 0
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center
}

footer > div > div > div > ul > li > a{
    color: #343a40;
}

footer > div > div > div > ul > li > a:focus, footer > div > div > div > ul > li > a:hover {
    color: rgba(173, 181, 189, 1)
}


#weixin > a:focus, #weixin > a:hover {
    color: rgba(27, 187, 63, 1)
}

#qq > a:focus, #qq > a:hover {
    color: rgba(71, 144, 222, 1)
}

#facebook > a:focus,#facebook > a:hover{
    color: rgba(7, 91, 181, 1)
}

#twitter > a:focus,#twitter > a:hover{
    color: rgba(0, 123, 255, 1)
}

#github > a:focus,#github > a:hover{
    color: rgba(220, 53, 69, 1)
}

/* account/login.html */
#login_weixin > a{
    color: rgba(27, 187, 63, 1)
}

#login_qq > a{
    color: rgba(71, 144, 222, 1)
}

#login_facebook > a{
    color: rgba(7, 91, 181, 1)
}

#login_twitter > a{
    color: rgba(0, 123, 255, 1)
}

#login_github > a{
    color: rgba(220, 53, 69, 1)
}

#login_weixin > a:focus, #login_weixin > a:hover{
    color: rgba(33, 136, 56, 1)
}
#login_qq > a:focus, #login_qq > a:hover,
#login_twitter > a:focus, #login_twitter > a:hover{
    color: rgba(48, 117, 191, 1)
}
#login_facebook > a:focus, #login_facebook > a:hover{
    color: rgba(10, 72, 140, 1)
}
#login_github > a:focus, #login_github > a:hover{
    color: rgba(175, 39, 52, 1)
}

.form-control-radius{
    width: 100%;
    border-radius: 30px;
}

.col-border-radius{
    border-radius:5px;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: 1;
}
.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, #818078, transparent);
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}

/* 导航栏选中 背景颜色 */
.active-bg{
    height: 16%;
    margin: 0 15px;
    background: #d70719;
}
/* #191919 black
   #161616 black
   #212121
   #d70719 red
   #fefafc white
   #787878 gray
   #c7c7c7 gray
   #00d665 green
 */