


<div id="back-to-top">
    <i class="fas fa-chevron-up"></i>
</div>



<script>
    // 向上滚动的函数
    $(function () {
        $('#back-to-top').click(function () {
            $('html,body').animate({scrollTop: 0}, 1500);
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-to-top').fadeIn(300);
            } else {
                $('#back-to-top').stop().fadeOut(300);
            }
        }).scroll();
    });
</script>

<style>
    /* 按钮边框的大小、位置、样式 */
    #back-to-top {
      border: 2px solid #676D75;
      opacity: 0.7;
      width: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer;
      position: fixed;
      right: 1.5rem;
      bottom: 1.5rem;
      z-index: 100;
      font-size:30px;
      color: #676D75;
    }
</style>
