<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock title %}</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--     代码高亮样式 -->
    <link rel="stylesheet" href="{% static 'css/monokai.css' %}">
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">

</head>
<body>
    {% include 'header.html' %}

    <div id="wrapper">
        {% block content %}{% endblock content %}
        <div id="push">
            {% block page %}{% endblock page %}
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplemde.min.js' %}"></script>

    {% include 'back_to_top.html' %}

    {% block script %}{% endblock script %}

</body>
</html>