

{% load staticfiles %}
<div class="container-fluid" style="padding-left:0;padding-right:0;min-width: 1100px;">
	<div id="header-nav">
		<a class="nav-logo" href="{% url 'article:article-list' %}">博客</a>
		<nav>
			<ul class="main-nav">
				<li><a class="open-btn" onclick="openSearch()"><i class="fa fa-search"></i></a></li>
				<li><a href="{% url 'article:article-list' %}">首页</a></li>
				<li><a href="{% url 'article:article-create' %}">写文章</a></li>
				<li><a href="{% url 'page_404' %}">404</a></li>
				{% if not user.is_authenticated %}
				<li><a href="{% url 'account_login' %}">登录</a></li>
				<li><a href="{% url 'account_signup' %}">注册</a></li>
				{% endif %}
				{% if user.is_authenticated %}
				<li><a class="open-btn" onclick="openNav()"><i class="far fa-user"></i></a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
	<div class="clearfix" style="margin-bottom:0px;"></div><!-- 清除浮动 -->
</div>

<div id="searchOverlay" class="s-overlay">
	<span class="close-btn" onclick="closeSearch()" title="Close Overlay">&times;</span>
	<div class="overlay-content">
		<p class="search-tips">Hit enter to search or ESC to close</p>
		<form method="get" action="{% url 'article:article-list' %}">
			{% csrf_token %}
			<input type="search" placeholder="Search.." name="search" />
			<button type="button" onclick="search_form_submit()"><i class="fa fa-search" style="color: #d70719;"></i></button>
		</form>
	</div>
</div>
{% if user.is_authenticated %}
<div id="side-user-menu" class="user-nav">
	<div class="user">
		<div class="user-pic" style="{% if user.profile.avatar %}
										background-image: url({{ user.profile.avatar.url }});
									 {% elif user.socialaccount_set.all.0.get_avatar_url %}
										background-image: url({{ user.socialaccount_set.all.0.get_avatar_url }});
									 {% endif %}
			">
		</div>
		<div class="user-name">{{ user.username }}</div>
	</div>
	<span class="nav-close-btn" onclick="closeNav()" title="Close">&times;</span>
	<a href="{% url 'userprofile:edit-profile' user.id %}">个人主页</a>
	<a href="{% url 'article:article-create' %}">写文章</a>
	<a href="#" data-toggle="modal" data-target="#signOutModal">退出</a>
<!--	{% url 'account_logout' %}-->
</div>
{% endif %}

<div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="height:425px;">
            <div class="modal-header">
                <h5 class="modal-title" id="signOutModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>