
{% load i18n %}
{% load staticfiles %}
<div id="header-nav" style="padding-left:0;padding-right:0;">
	<a class="nav-logo" href="{% url 'article:article-list' %}">LOGO</a>
	<nav id="nav-menu">
		<ul class="main-nav">
			<li><a class="page-scroll" href="{% url 'article:article-list' %}">首页</a></li>
			<li><a class="page-scroll" href="{% url 'about' %}">About</a></li>
<!--			<li><a class="page-scroll" href="{% url 'article:article-create' %}">写文章</a></li>-->
			<li><a class="page-scroll" href="#contact" id="moveToContact">Contact</a></li>
			{% if not user.is_authenticated %}
			<li><a class="page-scroll" href="{% url 'account_login' %}">登录</a></li>
			<li><a class="page-scroll" href="{% url 'account_signup' %}">注册</a></li>
			{% endif %}
			{% if user.is_authenticated %}
			<li><a class="open-btn" onclick="openNav()"><i class="far fa-user"></i></a></li>
			{% endif %}
			<li><a class="open-btn" onclick="openSearch()"><i class="fa fa-search"></i></a></li>
		</ul>
	</nav>
	<span id="menu-btn" class="open-btn" style="float:right;width:10%;height:10%;color:#fff;padding:30px;margin-right:30px;" onclick="openNav()">Menu</span>
</div>
	<div class="clearfix" style="margin-bottom:0px;"></div><!-- 清除浮动 -->
<div id="searchOverlay" class="s-overlay">
	<span class="close-btn" onclick="closeSearch()" title="Close Overlay">&times;</span>
	<div class="overlay-content">
		<p class="search-tips">Hit enter to search or ESC to close</p>
		<form method="get" action="{% url 'article:article-list' %}" id="search-form">
			{% csrf_token %}
			<input type="search" placeholder="Search.." name="search" />
			<button type="button" onclick="search_form_submit()"><i class="fa fa-search" style="color:#faad00;outline:0;"></i></button>
		</form>
	</div>
</div>


<div id="side-user-menu" class="user-nav">
	<div class="user">
		{% if user.is_authenticated %}
		<div class="user-pic" style="{% if user.profile.avatar %}
										background-image: url({{ user.profile.avatar.url }});
									 {% elif user.socialaccount_set.all.0.get_avatar_url %}
										background-image: url({{ user.socialaccount_set.all.0.get_avatar_url }});
									 {% endif %}
			">
		</div>
		<div class="user-name">{{ user.username }}</div>
		{% endif %}
	</div>
	<span class="nav-close-btn" onclick="closeNav()" title="Close">&times;</span>
	<ul>
        <li><a class="open-btn" onclick="openSearch()"><i class="fa fa-search"></i></a></li>
		<li><a href="{% url 'article:article-list' %}">首页</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'account_login' %}">登录</a></li>
        <li><a href="{% url 'account_signup' %}">注册</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="{% url 'userprofile:edit-profile' user.id %}">个人主页</a></li>
<!--		<li><a href="{% url 'article:article-create' %}">写文章</a></li>-->
		<li><a href="{% url 'page_404' %}">404</a></li>
		<li><a href="#" data-toggle="modal" data-target="#signOutModal">退出</a></li>
        {% endif %}
	</ul>
<!--	{% url 'account_logout' %}-->
</div>


<div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signOutModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<form method="post" action="{% url 'account_logout' %}">
				  {% csrf_token %}
				  {% if redirect_field_value %}
				  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
				  {{ redirect_field_name }}-{{ redirect_field_value }}
				  {% endif %}
				  <button type="submit">{% trans 'Sign Out' %}</button>
				</form>
			</div>
        </div>
    </div>
</div>

<script>

</script>