
{% extends 'base.html' %}
{% load staticfiles %}
# 加载自定义过滤器
{% load extra_tags %}

{% block title %}
	新建文章
{% endblock title %}

{% block content %}
<!--<div class="card">-->
<!--		        <div class="card-body">-->
<!--		            <div class="row">-->
<!--		                <div class="col-md-12">-->
<!--		                    <h4>Create Article</h4>-->
<!--                            <p>-->
<!--                                Markdown 在线编辑器：-->
<!--                                <a href="https://stackedit.io/app#" target="_blank"> StackEdit </a> /-->
<!--                                <a href="https://dillinger.io/" target="_blank"> Dillinger </a> /-->
<!--                                <a href="https://daringfireball.net/projects/markdown/dingus" target="_blank"> Dingus </a>-->
<!--                            </p>-->
<!--		                    <hr>-->
<!--		                </div>-->

<!--		            </div>-->
<br><br>
<div class="container">
    <form method="post" action="." enctype="multipart/form-data" style="padding: 80px 0;padding-bottom:75px;" id="create-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>Title*</label>
                    {{ form.title | add_class:'form-control here' }}
                    <div>
                        {% if form.title.errors %}
                            <ol>
                            {% for error in form.title.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label>Category </label>
                    {{ form.category | add_class:'custom-select' }}
                    <div>
                        {{ form.category.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    {{ form.tags | add_class:'form-control here' }}
                    <span>
                      {{ form.tags.errors }}
                    </span>
                </div>
                <div class="form-group">
                    <label>Summary </label>
                    {{ form.summary | add_class:'form-control' }}
                    <span>
                      {{ form.summary.errors }}
                    </span>
                </div>
            </div>
            <div class="col-8">
                <label>Body</label>
                <div>
                    {{ form.media }}
                    {{ form.body }}
                <button name="submit" type="submit" class="btn btn-primary" style="width:100%;"> Save </button>
                </div>
                {{ form.body.errors }}

            </div>

        </div>
    </form>
</div>

<style>
    .CodeMirror .CodeMirror-scroll {
      min-height: 450px;
    }
</style>


<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">

{% endblock content %}

{% block script %}
<script src="{% static 'js/simplemde.min.js' %}"></script>
<script>
    $('#create-form').find('textarea').removeAttr('required max min maxlength pattern');
    var mde = new SimpleMDE({
        autofocus:true,
        autosave: {
            enabled: true,
            uniqueId: "SimpleMDE",
            delay: 1000,
        },
        tabSize: 4,
        toolbar: [
            "bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list",
            "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "preview", "side-by-side", "fullscreen", "guide",
        ]
    });
</script>
{% endblock script %}
