
{% extends 'base.html' %}
{% load staticfiles %}
# 加载自定义过滤器
{% load extra_tags %}

{% block content %}

<br><br>
<div class="container">
	<div class="row">
		<div class="col-md-9 center-block">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Create Article</h4>
		                    <hr>
		                </div>

		            </div>
		            <div class="row">
		                <div class="col-md-12">
                            <!-- 表单 -->
		                    <form method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Title *</label>
                                    <div class="col-8">
                                      {{ form.title | add_class:'form-control here' }}
                                    </div>
                                  </div>
                                <div>
                                    {% if form.title.errors %}
                                        <ol>
                                        {% for error in form.title.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <label class="col-4 col-form-label">Avatar </label>-->
<!--                                    <div class="col-8">-->
<!--                                      {{ form.avatar }}-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                <div>-->
<!--                                      {{ form.avatar.errors }}-->
<!--                                  </div>-->
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Category </label>
                                    <div class="col-8">
                                      {{ form.category | add_class:'custom-select' }}
                                    </div>
                                  </div>
                                <div>
                                      {{ form.category.errors }}
                                  </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Tags </label>
                                    <div class="col-8">
                                      {{ form.tags | add_class:'form-control here' }}
                                    </div>
                                  </div>
                                <div>
                                      {{ form.tags.errors }}
                                  </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Body *</label>
                                    <div class="col-8">
                                      {{ form.media }}
                                      {{ form.body | add_class:'form-control here' }}
                                    </div>
                                </div>
                                <div>
                                      {{ form.body.errors }}
                                  </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                      <button name="submit" type="submit" class="btn btn-primary"> Save </button>
                                    </div>
                                  </div>
                            </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>

{% block script %}
<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>
{% endblock script %}


<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">

{% endblock content %}