
{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_tags %}
{% block title %}
    文章详情
{% endblock title %}



{% block content %}
<div class="container">
    <div class="row pm-2">
        <div class="col-10">
            <article class="px-3">
                <div class="py-4">
                    <h1 class="fs--100" style="color: black;">{{ article_detail.title }}</h1>
                        <ul class="nav pull-right nav-pills block-center">
                            <li class="py-2 pr-4 fc--18"><i class="fa fa-calendar"></i> {{ article_detail.updated|date:'Y-m-d h:i:s' }}</li>
                            <li class="py-2 pr-4 fc--18"><i class="fa fa-user"></i> {{ article_detail.author }}</li>
                            <li class="py-2 pr-4 fc--18"><i class="fa fa-comments"></i>24 Comments</li>
                            <li class="py-2 pr-4 fc--18"><i class="fas fa-eye"></i>{{ article_detail.total_views }}</li>
                        </ul>
                    <hr style="width:100%">
                </div>
                <div class="article pb-5">
                <div class="avatar">
                    {% if article_detail.avatar %}
                        <img src="{{ article_detail.avatar.url }}" style="width:80%; height:300px;" />
                    {% endif %}
                </div>
                <div class="markdown fs--16 ff-default">
                    <p>{{ article_detail.body|convert_markdown|safe }}</p>
                </div>
                </div>
            </article>
        </div>
        <!-- 侧边栏 Tools -->
        <div class="col pt-5 pl-3" id="sticky-sidebar" >
            <div id="tools" class="sticky-top">
            <h3 class="fs--30"> Tools </h3>
            <div class="list-group p-2" id="list-group">
                    {% if user == article_detail.author %}
                        <a href="#" data-toggle="modal" data-target="#deleteModalCenter" class="list-group-item">
                            <i class="fas fa-eraser"></i>
                                删除文章
                        </a>
                        <a href="{% url 'article:article-update' article_detail.id %}" class="list-group-item">
                            <i class="far fa-edit"></i>
                                编辑文章
                        </a>
                    {% endif %}
                    <a href="#" class="list-group-item">
                        <i class="far fa-thumbs-up"></i>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="far fa-comment-dots"></i>
                    </a>
                </div>
            <div class="fs--30"><h3>Tags</h3></div>
            <div class="p-3">
                <ul class="list-unstyled list-inline blog-tags">
                    {% for tag in article_detail.tags.all %}
                    <li class="pb-2"><a href="#" class="text-secondary"><i class="fa fa-tags"></i>{{ tag }}</a></li>
                    {% endfor %}
            </ul>
            </div>
            <hr>
            <h4><strong></strong></h4>
            <div id="contents" class="mt-4">
<!--                {{ toc | safe }}-->
            </div>
        </div>
        </div>
    </div>
    <!-- 占位Div -->
    <div style="width:100%;visibility:hidden;min-height:200px;"></div>

    <!-- 评论框 -->
    <div class="row pb-3">
        <div class="col-10">
            <textarea class="form-control" style="min-height:200px;" placeholder="Enter Comment(200)" aria-label="With textarea"></textarea>
            <div class="pt-3 pr-2" style="text-align:right;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal" >Submit</button>
            </div>
        </div>
    </div>

    <!-- Comment Display -->
    <div class="row pt-5">
        <div class="col-10">
            <div class="card" style="width:100%">
        <div class="card-header">
        Comment
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Cras justo odio<br />
                Cras justo odio
                <p class="text-right">2019-10-11</p>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
        </div>
    </div>

<!--Comment -->
<button type="button" class="btn btn-primary" style="display:none;" data-toggle="modal" data-target="#commentModal" data-whatever="@mdo">Open modal for @mdo</button>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>


</div>

    <!-- 删除弹窗 -->
<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle"> Remove </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure remove this article ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="confirm_safe_delete()"> Remove </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancle </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 新增一个隐藏的删除表单 -->
<form style="display:none;" id="safe_delete" action="{% url 'article:article-safe-delete' article_detail.id %}" method="POST">
        {% csrf_token %}
        <button type="submit"> Submit </button>
    </form>
{% block script %}
    <script>
        function confirm_safe_delete() {
            $('form#safe_delete button').click();
        }

        $('#commentModal').on('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = $(event.relatedTarget)
            // Extract info from data-* attributes
            var recipient = button.data('whatever')
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })
    </script>

<!--    <script src="{% static 'csrf.js' %}"></script>-->
<!--    <script>-->
<!--    $(function(){-->
<!--        $(".django-ckeditor-widget").removeAttr('style');-->
<!--    });-->

<!--    function confirm_submit(article_id, comment_id){-->
<!--        // 从 ckeditor 中取值-->
<!--        let content = CKEDITOR.instances['id_body'].getData();-->
<!--        // 调用 ajax 与后端交换数据-->
<!--        $.ajax({-->
<!--            url: '/comment/post-comment/' + article_id + '/' + comment_id,-->
<!--            type: 'POST',-->
<!--            data: {body: content},-->
<!--            // 成功回调-->
<!--            success: function(e){-->
<!--                if(e === '200 OK'){-->
<!--                    parent.location.reload();-->
<!--                }-->
<!--            }-->
<!--        })-->
<!--    }-->
<!--    </script>-->

{% endblock script %}
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">

{% endblock %}
