
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    文章详情
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ article_detail.title }}</h1>
        <div class="col-12 alert alert-success">
            作者：{{ article_detail.author }}
            {% if user == article_detail.author %}
             /  <a href="#" data-toggle="modal" data-target="#deleteModalCenter"> 删除文章 </a>
             /  <a href="{% url 'article:article-update' article_detail.id %}"> 修改文章 </a>
            {% endif %}
            <div>
                浏览 : {{ article_detail.total_views }}
            </div>
        </div>
        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article_detail.body|safe }}</p>
        </div>
    </div>

<!-- Modal Delete -->
    <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle"> Remove </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure remove this article ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="confirm_safe_delete()"> Remove </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancle </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 新增一个隐藏的表单 -->
    <form style="display:none;" id="safe_delete" action="{% url 'article:article-safe-delete' article_detail.id %}" method="POST">
        {% csrf_token %}
        <button type="submit"> Submit </button>
    </form>

    <script>
    function confirm_safe_delete() {
        $('form#safe_delete button').click();
    }
    </script>
</div>


<div class="container">
    <section id="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="masthead well well-sm">
                    <h1>
                        <a href="index.asp"><span class="light text-primary">knowledge</span><span style="font-family: Lato, sans-serif; font-weight: 300; text-decoration: none; rgb(45,137,239);">|</span><span class="dark text-primary">Base</span></a>
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">

                <div class="article">
                    <h3>Pellentesque habitant morbi tristique</h3>

                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-calendar"></i> February 02, 2013</li>
                        <li><i class="fa fa-user"></i> Sergio Rodriguez</li>
                        <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
                    </ul>

                    <div class="article-content">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                        <blockquote class="hero">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere erat a ante.</p>
                            <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                        </blockquote>

                        <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    </div>
                    <ul class="list-unstyled list-inline blog-tags">
                        <li><a href="#"><span class="fa fa-tag"></span> Example heading</a></li>
                        <li><a href="#"><span class="fa fa-tag"></span> Example heading</a></li>
                        <li><a href="#"><span class="fa fa-tag"></span> Example heading</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <h3>Tools</h3>
                    <div class="list-group" id="list-group">

                      <a href="#" class="list-group-item">
                            <span class="fa-stack fa-lg">
                            <i class="fa-stack-2x fa fa-circle "></i>
                            <i class="fa-stack-1x text-primary fa fa-envelope "></i>
                            </span>
                            <span class="">Email</span>
                      </a>
                      <a href="#" class="list-group-item">
                            <span class="fa-stack fa-lg">
                            <i class="fa-stack-2x fa fa-circle "></i>
                            <i class="fa-stack-1x text-primary fa fa-envelope "></i>
                            </span>
                            <span class="">Email</span>
                      </a>
                      <a href="#" class="list-group-item">
                            <span class="fa-stack fa-lg">
                            <i class="fa-stack-2x fa fa-circle "></i>
                            <i class="fa-stack-1x text-primary fa fa-envelope "></i>
                            </span>
                            <span class="">Email</span>
                      </a>
                      <a href="#" class="list-group-item">
                            <span class="fa-stack fa-lg">
                            <i class="fa-stack-2x fa fa-circle "></i>
                            <i class="fa-stack-1x text-primary fa fa-envelope "></i>
                            </span>
                            <span class="">Email</span>
                      </a>
                      <a href="#" class="list-group-item">
                            <span class="fa-stack fa-lg">
                            <i class="fa-stack-2x fa fa-circle "></i>
                            <i class="fa-stack-1x text-primary fa fa-envelope "></i>
                            </span>
                            <span class="">Email</span>
                      </a>
                    </div>
                    <div class="headline"><h3>Tags</h3></div>
                    <ul class="list-unstyled list-inline blog-tags">
                        <li><a href="#"><i class="fa fa-tags"></i> Business</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Music</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Internet</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Education</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> People</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Math</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Photos</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Electronics</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Apple</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Canada</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}