
{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_tags %}
{% load mptt_tags %}

{% block title %}
    文章详情
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row pm-2">
        <div class="col-10">
            <article class="px-3">
                <div class="py-4">
                    <h1 class="fs--100" style="color: black;">{{ article_detail.title }}</h1>
                        <ul class="nav pull-right nav-pills block-center">
                            <li class="py-2 pr-4 fc--18"><i class="fa fa-calendar"></i> {{ article_detail.updated|date:'Y-m-d h:i:s' }}</li>
                            <li class="py-2 pr-4 fc--18"><i class="fa fa-user"></i> {{ article_detail.author }}</li>
                            <li class="py-2 pr-4 fc--18"><i class="fa fa-comments"></i> {{ comments.count }} Comments</li>
                            <li class="py-2 pr-4 fc--18"><i class="fas fa-eye"></i> {{ article_detail.total_views }}</li>
                        </ul>
                    <hr style="width:100%">
                </div>
                <div class="article pb-5">
                    <div class="markdown fs--16 ff-default">
                        <p>{{ article_detail.body|convert_markdown|safe }}</p>
                    </div>
                </div>
            </article>

            <br>
            <!-- 上一篇 下一篇 -->
            <nav class="pagination">
                <div class="row">
                    <div class="col-3">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="previous"><i></i>Previous</a>
                        {% else %}
                            <a href="javascript:volid(0);" title="first page" class="previous"><i></i>Previous</a>
                        {% endif %}
                    </div>
                    <div class="col text-center">
                        <span class="p_number" style="color: #328CF2;">{{ page_obj.number }}</span> -
                        <span class="p_number" style="color: #F23B32;">{{ page_obj.paginator.num_pages }}</span>
                    </div>
                    <div class="col-3">
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="next">Next<i></i></a>
                        {% else %}
                            <a href="javascript:volid(0);" title="Last Page" class="next">Next<i></i></a>
                        {% endif %}
                    </div>
                </div>
            </nav>

        </div>

        <!-- 侧边栏 Tools -->
        <div class="col pt-5 pl-3" id="sticky-sidebar" >
            <div id="tools" class="sticky-top">
                <h3 class="fs--30"> Tools </h3>
                <div class="list-group p-2 text-center" id="list-group">
                {% if user == article_detail.author %}
                    <a href="{% url 'article:article-create' %}" class="list-group-item">
                        <i class="far fa-plus-square"></i>
                            新建
                    </a>
                    <a href="#" data-toggle="modal" data-target="#deleteModalCenter" class="list-group-item">
                        <i class="far fa-trash-alt"></i>
                            删除
                    </a>
                    <a href="{% url 'article:article-update' article_detail.id %}" class="list-group-item">
                        <i class="far fa-edit"></i>
                            编辑
                    </a>
                {% endif %}
                    <a href="#" class="list-group-item" data-toggle="tooltip" data-placement="right" title="这个功能我还没做">
                        <i class="far fa-thumbs-up"></i>
                            点赞
                    </a>
                    <a id="move_comment" class="list-group-item" data-toggle="tooltip" data-placement="right" title="想吐槽作者就点我">
                        <i class="far fa-comment-dots"></i>
                            评论
                    </a>
            </div>
                <div class="fs--30"><h3>Tags</h3></div>
                <div class="p-3">
                <ul class="list-unstyled list-inline blog-tags">
                    {% for tag in article_detail.tags.all %}
                    <li class="pb-2"><a href="#" class="text-secondary"><i class="fa fa-tags"></i>{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
                <hr>
                <h4><strong></strong></h4>
                <div id="contents" class="mt-4">
<!--                {{ toc | safe }}-->
                </div>
            </div>
        </div>

    </div>


    <!-- 占位Div -->
    <div style="width:100%;visibility:hidden;min-height:200px;"></div>

    <!-- 评论框 -->
    <div class="row pb-3">
        <div class="col-10">
            {% if user.is_authenticated %}
            <div id="comment_form">
                {% csrf_token %}
                {{ comment_form.media }}
                {{ comment_form.body }}
            <div class="pt-3 pr-2" style="text-align:right;">
                <button type="button" class="btn btn-primary" onclick="confirm_submit({{ article_detail.id }})" >Submit</button>
            </div>
            </div>
            {% else %}
            <br>
            <h5 class="row justify-content-center">
                请<a href="{% url 'userprofile:login' %}?next={% url 'article:article-detail' article_detail.id %}" style="color:Blue;">登录</a>后回复
            </h5>
            <br>
            {% endif %}
        </div>
    </div>

    <!-- Comment Display -->
    <div id="comment_display" class="row pt-5" style="min-height:200px;">
        <div class="col-10">
            <div class="card" style="width:100%">
                <div class="card-header">
                 {{ comments.count }} Comment
                </div>
                <div class="card-body">
                    {% recursetree comments %}
                        {% with comment=node %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p><strong style="color: gray"> {{ comment.user }} </strong>
                                    {% if comment.reply_to %}
                                        <i class="fas fa-share" style="color:gray"></i>
                                        <strong style="color: pink"> {{ comment.reply_to }} </strong>
                                    {% endif %}
                                    <span style="color: gray">{{ comment.created|date:"Y-m-d H:i" }}</span>
                                    <span>
                                    {% if user.is_authenticated %}
                                    <a class="reply" href="" data-toggle="modal" data-target="#replyModal"
                                            data-whatever="{{ comment.user }},{{ article_detail.id }},{{ comment.id }}">回复
                                    </a>
                                    {% else %}
                                    <a class="reply" style="" href="{% url 'userprofile:login' %}?next={% url 'article:article-detail' article_detail.id %}">回复
                                    </a>
                                    {% endif %}
                                    </span>
                                </p>
                                <br />
                                <div>{{ comment.body|safe }}</div><br />


                                {% if not comment.is_leaf_node %}
                                    <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse_{{ comment.id }}" role="button" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Read More
                                    </a>
                                    <div class="collapse" id="collapse_{{ comment.id }}">
                                    <div class="card card-body">
                                        <div class="children">
                                            {{ children }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                        {% endwith %}
                    {% endrecursetree %}
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 评论弹窗 -->
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="height:490px;">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

    <!-- 删除弹窗 -->
<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle"> Remove </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure remove this article ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="confirm_safe_delete()"> Remove </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancle </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 新增一个隐藏的删除表单 -->
<form style="display:none;" id="safe_delete" action="{% url 'article:article-safe-delete' article_detail.id %}" method="POST">
        {% csrf_token %}
        <button type="submit"> Submit </button>
</form>

<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">

<style>
    a.reply:link {color:#20c997;}
    a.reply:visited {color:#20c997;}
    a.reply:hover {color:#20c997;}
    header.masthead{
        background-image: url({% if article_detail.avatar %} {{ article_detail.avatar.url }} {% else %} {% static 'img/pic1.jpg' %}{% endif %} )
    }
</style>



{% endblock %}

{% block script %}
<script>

        // 移除 ckeditor 元素，是 CKeditor 能够自适应大小
        $(function(){
            $(".django-ckeditor-widget").removeAttr('style');
        });

        // 锚点定位
		var move = document.getElementById("move_comment");
        move.addEventListener('click', function(){
			var target = document.getElementById('comment_display');
	        target.scrollIntoView(false);
		})

        function confirm_safe_delete() {
            $('form#safe_delete button').click();
        }

        // 加载 iframe ckeditor
        $("#replyModal").on('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = $(event.relatedTarget)
            // Extract info from data-* attributes
            var recipient = button.data('whatever')
            var res = recipient.split(",");
            var modal = $(this)
            modal.find('.modal-title').text('reply to ' + res[0])
            if(modal.find('.modal-body').children().length === 0){
                let content = '<iframe id="myiframe" src="/comment/post-comment/' +
                    res[1] + '/' + res[2] + '" frameborder="0" style="width:100%;height:100%;" ></iframe>';
                modal.find('.modal-body').append(content);
            }
        })

        // ajax 发送请求，保存评论 并刷新评论
        function confirm_submit(article_id){
            let ajax_url = '/comment/post-comment/' + article_id + '/';
            // 从 ckeditor 中取值
            let content = CKEDITOR.instances['id_body'].getData();

            // 添加 csrf
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });

            // 调用 ajax 与后端交换数据
            $.ajax({
                url: ajax_url,
                type: 'POST',
                data: {body: content},
                // 成功回调
                success: function(e){
                    if(e === '200 OK'){
                        $("#comment_display").load(location.href + "#comment_display>*");
                        //window.location.reload();
                    }
                }
            })
        }
</script>

{% endblock script %}