
{% extends 'base.html' %}
{% load staticfiles %}


<!-- 测试Pycharm Git -->
{% block content %}
    <section class="banner--section">
  <!-- Banner Slider Start -->
  <div class="banner--slider owl-carousel owl-loaded owl-drag" data-owl-dots="true" data-owl-center="true" data-owl-responsive="{&quot;0&quot;: {&quot;autoWidth&quot;: false}, &quot;768&quot;: {&quot;autoWidth&quot;: true}}">
    <div class="owl-stage-outer">
      <div class="owl-stage" style="transition: all 0s ease 0s; width: 6790px; transform: translate3d(-2883px, 0px, 0px);">
        <div class="owl-item cloned" style="width: auto;">
          <div class="container">
            <!-- Banner Item Start -->
            <div class="banner--item style--1 bg--img" data-overlay="0.5" data-rjs="2" style="background-image: url(&quot;img/banner-img/slider-bg-02.jpg&quot;);">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- Banner Content Start -->
                  <div class="banner--content pt--180 pb--180 text-white text-center">
                    <div class="tag" data-overlay="0.5" data-overlay-color="primary">
                      <p>
                        <a href="category.html" class="btn-link">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">旅行</font>
                          </font>
                        </a>
                      </p>
                    </div>
                    <div class="title">
                      <h2 class="h2 text-white">
                        <a href="blog-details.html" class="btn-link">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">无论走到哪里，全心全意去</font>
                          </font>
                        </a>
                      </h2>
                    </div>
                    <div class="desc">
                      <p>
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Lorem ipsum dolor坐下，一直保持着上风。</font>
                          <font style="vertical-align: inherit;">Delectus fuga culpa omnis optio dolores quae consectetur molestiae laudantium dolor adipisci saepe dicta facilis，soluta illo esse repudiandae，fugiat est cupiditate。</font>
                        </font>
                      </p>
                    </div>
                    <div class="action">
                      <a href="blog-details.html" class="btn btn-white">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">阅读更多</font>
                        </font>
                      </a>
                    </div>
                  </div>
                  <!-- Banner Content End -->
                </div>
              </div>
            </div>
            <!-- Banner Item End -->
          </div>
        </div>
        <div class="owl-item cloned" style="width: auto;">
          <div class="container">
            <!-- Banner Item Start -->
            <div class="banner--item style--1 bg--img" data-overlay="0.5" data-rjs="2" style="background-image: url(&quot;img/banner-img/slider-bg-03.jpg&quot;);">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- Banner Content Start -->
                  <div class="banner--content pt--180 pb--180 text-white text-center">
                    <div class="tag" data-overlay="0.5" data-overlay-color="primary">
                      <p>
                        <a href="category.html" class="btn-link">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">摄影</font>
                          </font>
                        </a>
                      </p>
                    </div>
                    <div class="title">
                      <h2 class="h2 text-white">
                        <a href="blog-details.html" class="btn-link">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">无论走到哪里，全心全意去</font>
                          </font>
                        </a>
                      </h2>
                    </div>
                    <div class="desc">
                      <p>
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Lorem ipsum dolor坐下，一直保持着上风。</font>
                          <font style="vertical-align: inherit;">Delectus fuga culpa omnis optio dolores quae consectetur molestiae laudantium dolor adipisci saepe dicta facilis，soluta illo esse repudiandae，fugiat est cupiditate。</font>
                        </font>
                      </p>
                    </div>
                    <div class="action">
                      <a href="blog-details.html" class="btn btn-white">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">阅读更多</font>
                        </font>
                      </a>
                    </div>
                  </div>
                  <!-- Banner Content End -->
                </div>
              </div>
            </div>
            <!-- Banner Item End -->
          </div>
        </div>
        <div class="owl-item" style="width: auto;">
          <div class="container">
            <!-- Banner Item Start -->
            <div class="banner--item style--1 bg--img" data-overlay="0.5" data-rjs="2" style="background-image: url(&quot;img/banner-img/slider-bg-01.jpg&quot;);">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- Banner Content Start -->
                  <div class="banner--content pt--180 pb--180 text-white text-center">
                    <div class="tag" data-overlay="0.5" data-overlay-color="primary">
                      <p>
                        <a href="category.html" class="btn-link">Success</a>
                      </p>
                    </div>
                    <div class="title">
                      <h2 class="h2 text-white">
                        <a href="blog-details.html" class="btn-link">Wherever You Go, Go With All Your Heart</a>
                      </h2>
                    </div>
                    <div class="desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fuga culpa omnis optio dolores quae consectetur molestiae laudantium dolor adipisci saepe dicta facilis, soluta illo esse repudiandae, fugiat est cupiditate.</p>
                    </div>
                    <div class="action">
                      <a href="blog-details.html" class="btn btn-white">Read More</a>
                    </div>
                  </div>
                  <!-- Banner Content End -->
                </div>
              </div>
            </div>
            <!-- Banner Item End -->
          </div>
        </div>
        <div class="owl-item active center" style="width: auto;">
          <div class="container">
            <!-- Banner Item Start -->
            <div class="banner--item style--1 bg--img" data-overlay="0.5" data-rjs="2" style="background-image: url(&quot;img/banner-img/slider-bg-02.jpg&quot;);">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- Banner Content Start -->
                  <div class="banner--content pt--180 pb--180 text-white text-center">
                    <div class="tag" data-overlay="0.5" data-overlay-color="primary">
                      <p>
                        <a href="category.html" class="btn-link">Travel</a>
                      </p>
                    </div>
                    <div class="title">
                      <h2 class="h2 text-white">
                        <a href="blog-details.html" class="btn-link">Wherever You Go, Go With All Your Heart</a>
                      </h2>
                    </div>
                    <div class="desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fuga culpa omnis optio dolores quae consectetur molestiae laudantium dolor adipisci saepe dicta facilis, soluta illo esse repudiandae, fugiat est cupiditate.</p>
                    </div>
                    <div class="action">
                      <a href="blog-details.html" class="btn btn-white">Read More</a>
                    </div>
                  </div>
                  <!-- Banner Content End -->
                </div>
              </div>
            </div>
            <!-- Banner Item End -->
          </div>
        </div>
        <div class="owl-item active" style="width: auto;">
          <div class="container">
            <!-- Banner Item Start -->
            <div class="banner--item style--1 bg--img" data-overlay="0.5" data-rjs="2" style="background-image: url(&quot;img/banner-img/slider-bg-03.jpg&quot;);">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- Banner Content Start -->
                  <div class="banner--content pt--180 pb--180 text-white text-center">
                    <div class="tag" data-overlay="0.5" data-overlay-color="primary">
                      <p>
                        <a href="category.html" class="btn-link">Photography</a>
                      </p>
                    </div>
                    <div class="title">
                      <h2 class="h2 text-white">
                        <a href="blog-details.html" class="btn-link">Wherever You Go, Go With All Your Heart</a>
                      </h2>
                    </div>
                    <div class="desc">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fuga culpa omnis optio dolores quae consectetur molestiae laudantium dolor adipisci saepe dicta facilis, soluta illo esse repudiandae, fugiat est cupiditate.</p>
                    </div>
                    <div class="action">
                      <a href="blog-details.html" class="btn btn-white">Read More</a>
                    </div>
                  </div>
                  <!-- Banner Content End -->
                </div>
              </div>
            </div>
            <!-- Banner Item End -->
          </div>
        </div>
        <div class="owl-item cloned" style="width: auto;">
          <div class="container">
            <!-- Banner Item Start -->
            <div class="banner--item style--1 bg--img" data-overlay="0.5" data-rjs="2" style="background-image: url(&quot;img/banner-img/slider-bg-01.jpg&quot;);">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- Banner Content Start -->
                  <div class="banner--content pt--180 pb--180 text-white text-center">
                    <div class="tag" data-overlay="0.5" data-overlay-color="primary">
                      <p>
                        <a href="category.html" class="btn-link">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">成功</font>
                          </font>
                        </a>
                      </p>
                    </div>
                    <div class="title">
                      <h2 class="h2 text-white">
                        <a href="blog-details.html" class="btn-link">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">无论走到哪里，全心全意去</font>
                          </font>
                        </a>
                      </h2>
                    </div>
                    <div class="desc">
                      <p>
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Lorem ipsum dolor坐下，一直保持着上风。</font>
                          <font style="vertical-align: inherit;">Delectus fuga culpa omnis optio dolores quae consectetur molestiae laudantium dolor adipisci saepe dicta facilis，soluta illo esse repudiandae，fugiat est cupiditate。</font>
                        </font>
                      </p>
                    </div>
                    <div class="action">
                      <a href="blog-details.html" class="btn btn-white">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">阅读更多</font>
                        </font>
                      </a>
                    </div>
                  </div>
                  <!-- Banner Content End -->
                </div>
              </div>
            </div>
            <!-- Banner Item End -->
          </div>
        </div>
        <div class="owl-item cloned" style="width: auto;">
          <div class="container">
            <!-- Banner Item Start -->
            <div class="banner--item style--1 bg--img" data-overlay="0.5" data-rjs="2" style="background-image: url(&quot;img/banner-img/slider-bg-02.jpg&quot;);">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- Banner Content Start -->
                  <div class="banner--content pt--180 pb--180 text-white text-center">
                    <div class="tag" data-overlay="0.5" data-overlay-color="primary">
                      <p>
                        <a href="category.html" class="btn-link">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">旅行</font>
                          </font>
                        </a>
                      </p>
                    </div>
                    <div class="title">
                      <h2 class="h2 text-white">
                        <a href="blog-details.html" class="btn-link">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">无论走到哪里，全心全意去</font>
                          </font>
                        </a>
                      </h2>
                    </div>
                    <div class="desc">
                      <p>
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Lorem ipsum dolor坐下，一直保持着上风。</font>
                          <font style="vertical-align: inherit;">Delectus fuga culpa omnis optio dolores quae consectetur molestiae laudantium dolor adipisci saepe dicta facilis，soluta illo esse repudiandae，fugiat est cupiditate。</font>
                        </font>
                      </p>
                    </div>
                    <div class="action">
                      <a href="blog-details.html" class="btn btn-white">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">阅读更多</font>
                        </font>
                      </a>
                    </div>
                  </div>
                  <!-- Banner Content End -->
                </div>
              </div>
            </div>
            <!-- Banner Item End -->
          </div>
        </div>
      </div>
    </div>
    <div class="owl-nav disabled">
      <div class="owl-prev">
        <i class="fa fa-angle-left"></i>
      </div>
      <div class="owl-next">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
    <div class="owl-dots">
      <div class="owl-dot">
        <span></span>
      </div>
      <div class="owl-dot active">
        <span></span>
      </div>
      <div class="owl-dot">
        <span></span>
      </div>
    </div>
  </div>
  <!-- Banner Slider End -->
</section>




    <div class="container">
        {% for article in article_list %}
        <div class="card">

            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img-top" src="{% static 'img/001.jpg' %}" alt="Card image" style="width:100%;">
                </div>
                <div class="col-md-8">
                    <div class="card-header">
                        {{ article.category }} - {{ article.tags }}
                    </div>
                    <div class="card-body d-flex flex-column" style="width:100%;">
                      <h4 class="card-title">{{ article.title }}</h4>
                      <p class="card-text"><small class="text-muted">{{ article.created }} - {{ article.updated }}</small></p>
                      <a href="{% url 'article:article-detail' article.id %}"><p class="card-text">{{ article.body|slice:'200' }}</p></a>
<!--                      <a href="{% url 'article:article-detail' article.id %}" class="btn btn-primary btn-lg btn-block mt-auto"> 阅读本文 </a>-->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}


