
{% extends 'base.html' %}
{% load staticfiles %}
# 加载自定义过滤器
{% load extra_tags %}

{% block content %}

<br><br>
<div class="container">
	<div class="row">
		<div class="col-md-9 center-block">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Update Article</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                            <!-- 表单 -->
		                    <form method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Title *</label>
                                    <div class="col-8">
                                      {{ form.title | add_class:'form-control here' }}
                                    </div>
                                  </div>
<!--                                <div class="form-group row">-->
<!--                                    <label class="col-4 col-form-label">Avatar </label>-->
<!--                                    <div class="col-8">-->
<!--                                        {% if article.avatar %}-->
<!--                                            <img src="{{ article.avatar.url }}" style="max-width: 20%; border-radius: 15%;">-->
<!--                                        {% endif %}-->
<!--                                         &lt;!&ndash;   {{ form.avatar }}&ndash;&gt;-->
<!--                                        &lt;!&ndash; 用 input 的时候 后台view要在表单验证里面获取图片 self.request.FILES.get('file_img') &ndash;&gt;-->
<!--                                        <input name="file_img" id="file_img" type="file" >-->
<!--                                    </div>-->
<!--                                  </div>-->
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Category </label>
                                    <div class="col-8">
                                      {{ form.category | add_class:'custom-select' }}
                                    </div>
                                  </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Tags </label>
                                    <div class="col-8">
                                      {{ form.tags | add_class:'form-control here' }}
                                    </div>
                                  </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Body *</label>
                                    <div class="col-8">
                                      {{ form.media }}
                                      {{ form.body | add_class:'form-control here' }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                      <button name="submit" type="submit" class="btn btn-primary"> Save Change </button>
                                    </div>
                                  </div>
                            </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>



{% block script %}
<script>
    $(".django-ckeditor-widget").removeAttr('style');

    $('#submit_btn').click(function () {
    $.ajax({
       url:'/login.html/',
       type:"POST",
       data: {'username':$('#username').val(),
            'password': $("#password").val(),
            "csrfmiddlewaretoken":$('[name="csrfmiddlewaretoken"]').val()
       },
       success:function (data) {
               alert(data)
           }
    })
});

</script>
{% endblock script %}

<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">

{% endblock content %}